body{font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;}
h1{font-size: 50px;}

.pic1{height: 520px;
width: 490px;}

.pic2{height: 500px;
width: 700px;}