body{font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 1;}

h1{font-size: 30px;}
span{color: rgb(255, 179, 0);}
h3{font-size: 20px;}

p{font-family: 'Courier New', Courier, monospace;}
.part1{display: flex ;
background-image: url(top-banner.png);
background-repeat: no-repeat;
margin-bottom: 80px;}

.half-width{width: 50%;
            padding: 6%;}

.pic1{   height: 520px;
         width: 490px;}

.hire-btn{
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);      /* linear gradient color css attribute */
        color: white;
        font-weight: 700;
        padding: 10px 40px;
        border-radius: 5px;}
.pic2{  height: 500px;
        width: 700px;}

.part2{display: flex;
    margin-bottom: 100px;}

#back-img{background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 100px;}


.part3{display: flex;
    margin-bottom: 200px;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    }
.half-side1{width: 50%;
    padding: 4%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
<<<<<<< HEAD
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 5, 105) ,tomato , rgb(67, 255, 67));
    border-image-slice: 1;
=======
>>>>>>> 091e2d879b160fde0b5be9b2a9e0a5913a007adc
    }
.half-side2{width: 50%;
    padding: 4%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
<<<<<<< HEAD
    margin-right: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(blue ,cyan, rgb(255, 12, 255));
    border-image-slice: 1;}
=======
    margin-right: 5%;}
>>>>>>> 091e2d879b160fde0b5be9b2a9e0a5913a007adc
.h3colr{color: orange;}

.foot{color: black;
text-align: center;}